@import './Skilldoro';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
  color: white;
  font-family: 'Orbitron', sans-serif;
}

nav ol {
  margin: 0 !important;
}
